@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}
/* движение влево */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  display: flex;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

/* движение вправо */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  display: flex;
  width: max-content;
  animation: scroll-right 25s linear infinite;
}
.animate-scroll-left:hover,
.animate-scroll-right:hover {
  animation-play-state: paused;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 40s linear infinite;
}